.content-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: 71.6vh;
    padding-right: 0px;
}

.content-heading {
    color: white;
    font-size: 65px;
    font-weight: 500;
    line-height: 40px;
}

.content {
    display: flex;
    justify-content: space-between;
    height: 60vh;
}

.content-point {
    color: white;
    font-size: 34px;
    margin: 20px;
}

li::marker {
    color: #00D8FF;
}

.bkimage {
    width: 250px;
    height: 550px;
}

@media screen and (max-width: 812px) {
    .content-container {
        display: flex;
        flex-direction: column;
        height: 82.1vh;
    }

    .content-heading {
        color: white;
        font-size: 28px;
    }

    .content {
        display: flex;
        justify-content: space-between;
        height: 60vh;
    }

    .content-point {
        color: white;
        font-size: 24px;
        margin: 10px;
    }

    li::marker {
        color: #00D8FF;
    }

    .bkimage {
        width: 120px;
        height: 250px;
    }

}