body {
    margin: 0;
    font-family:Inter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #21222A;
    padding: 20px;
    font-size: 20px;
}
.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 100px;
    width: 100px;
    margin: 20px;
}
.heading{
    color: #00D8FF;
    font-size: 52px;
}
.description{
    color: white;
    font-size: 32px;
}

@media screen and (max-width:812px) {
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #21222A;
        padding: 10px;
        font-size: 20px;
    }
    .logo-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .logo{
        height: 30px;
        width: 30px;
        margin: 20px;
    }
    .heading{
        color: #00D8FF;
        font-size: 22px;
    }
    .description{
        color: white;
        font-size: 14px;
    }
}